.container-welcome {
    display: flex;
    margin-left: 10px;
}

.container-cards {
    display: flex;
    justify-content: space-around;
}

.container-cards {
    display: flex;
}

img.izquierda {
    float: left;
    height: 80px;
    width: 80px;
}
img.abajo {
    float: right;
    height: 80px;
    width: 80px;
}
.card-deck {
    display: flex;
    justify-content: space-around;
}

.card-img-top:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #000000;
    -webkit-box-shadow: 0px 0px 15px 15px #000000;
    ;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.img-fluid:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #000000;
    ;
    -webkit-box-shadow: 0px 0px 15px 15px #000000;
    ;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
#productos {
    margin-left: 10px;
}

.contactos {
    margin-left: 10px;
    display: flex;
}

#contacto {
    margin-left: 10px;
}
